
<div class="row">
<div class="col-lg-10 col-md-10 col-sm-10 identity">
<ul>
	<li><a href="mailto:divyanshukumar8984@gmail.com">divyanshukumar8984@gmail.com</a></li>
	<li>7488022568</li>
	<li><a href="https://www.hackerrank.com/BuntyBru">www.hackerrank.com/BuntyBru</a></li>
	<li><a href="https://github.com/BuntyBru">github.com/BuntyBru</a></li>
</ul>
</div>


<div class="col-lg-1 col-md-1 col-sm-1 icons">
<ul>
	<li><i style="font-size:15px" class="fa">&#xf0e0;</i></li>
	<li><i style="font-size:20px" class="fa">&#xf10b;</i></li>
	<li><i style="font-size:15px" class="fa">&#xf1d9;</i> </li>
	<li><i style="font-size:15px" class="fa">&#xf09b;</i></li>
</ul>
</div>

</div>

