<div class="projects">

<h4><strong>PERSONAL PROJECTS</strong></h4>
<h5>YelpCamp <span><a href="https://whispering-bayou-88860.herokuapp.com/"><i style="font-size:13px" class="fa">&#xf08e;</i></a></span></h5>
<ul>
	 <li>YelpCamp is a social site where people can post information about
the campsites and how people could visit them. Users can make
their own accounts and post their own campsites
	 </li>
</ul>
<h5>Budget-Application <span><a href="https://github.com/BuntyBru/BudgetApp"><i style="font-size:13px" class="fa">&#xf08e;</i></a></span></h5>
<ul>
<li>Front-end application which enables the user to manage his/her budget of a certain period</li>
</ul>

<h5>Cube Game <span><a href="https://github.com/BuntyBru/CubeGame"><i style="font-size:13px" class="fa">&#xf08e;</i></a></span></h5>
<ul>
<li>A small front-end application for an interactive cube game which
enables two player to play the game turn by turn.</li>	
</ul>

<h5>Colour Game <span><a href="https://codepen.io/BuntyBru/pen/wxNeOr"><i style="font-size:13px" class="fa">&#xf08e;</i></a></span></h5>
<ul>
	<li>A small front-end application depicting the game of colours where
you have to choose the colour based on the rgb format</li>
</ul>
</div>